

<div ng-controller="storiesController as main">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Green Screen</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">Details</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

	 
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{main.title}}  &nbsp; &nbsp;
                    <a ng-click="main.setSearchSubreddit('all')"><small>all</small></a>
                    <a  ng-click="main.setSearchSubreddit('news')"><small>news</small></a>
                    <a ng-click="main.setSearchSubreddit('worldnews')"><small>worldnews</small></a>
                    <a  ng-click="main.setSearchSubreddit('politics')"><small>politics</small></a>
                    <a  ng-click="main.setSearchSubreddit('programming')"><small>programming</small></a>
                    <a  ng-click="main.setSearchSubreddit('pics')"><small>pics</small></a>
                        
                </h1>
                
            </div>
        </div>
        
        <input type="text" class="form-control" ng-model="main.searchString" style="margin-bottom: 20px;">
        
       <div class="row">
		
		
		
		 <div class="col-lg-4 col-sm-6 text-center" ng-repeat="story in main.topstories | filter:main.searchString " >
		 <div style="border: 1px solid #E8E8E8; margin: 2px;">
		 	  <img class="img-circle img-responsive img-center" src="{{story.data.thumbnail}}" alt="">
                <h3><a href="{{story.data.url}}" target="_blank">{{story.data.title}}  </a><!-- url, thumnail, title, score -->
                    <small>{{story.data.score}} 
                    	<a href="#/comments" ng-click="main.setCommentURL(story.data.permalink); main.setStoryTitle(story.data.title)">
                    	<!--
                    	<a href="http://reddit.com{{story.data.permalink}}" target="_blank">
                    	-->
                    		{{story.data.num_comments}} comments
                    	</a></small>
                </h3>
                <p><small>submitted by {{story.data.author}}</small></p>
		 </div>
		</div>
		</div>
		

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Eric Kallemeyn 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

  

</div>
